body {
    font-family: 'Roboto', sans-serif;
}

.logo_hotel {
    width: 380px;
    margin: 0 0 0 2%;

}

header {
    background: rgb(90,0,0);
    margin: 0 0 0 0;
}

main {
    margin: 3% 3% 0 3%;
}

.caixa {
    background-image: linear-gradient(to right,#000000, #8B0000);
}

nav {
    position: absolute;
    top: 50px;
    right: 4%;
    padding: 1% 0 1% 0;
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
    padding: 10px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.titulo-principal, .titulo-pergunta {
    line-height: 1.3em;
}

.item-avaliado {
    margin: 2.5em 0 0 0;
    display: block;
}

.item {
    display: block;
    padding: 0 0 0.6em 3%;
}

textarea {
    width: 70%;
    margin: 1% 0 0 0;
}

.botao {
    display: block;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 3px #720404;
    background-color: #720404;
    border: 0;
    padding: 14px 20px;
    margin: 4% 0 2% 0;
    border-radius: 12px 0 12px 0;
}

#logo_hotel_footer {
    width: 30%;
    margin: 35% 0 0;
}

footer {
    background: url('bg.jpg');
    text-align: center;
    padding: 50px 0 20px;
}

.facebook: {
    \24D5;
    text-align:center;
}

.copyright {
    font-size: 12px;
    color: rgb(255,255,255);
    margin: 50px 0 0;
}


@media screen and (max-width: 715px) {
    .logo_hotel {
        width: 80%;
    }

    main, footer, copyright, .facebook {
        width: auto;
    }


    .titulo-principal, .titulo-pergunta {
        width: 100%;
        text-align: center;
        margin: 3% 0 0 0;
        padding: 3% 0 0 0;

    }
    nav {
        position: static;
        text-align: center;
        padding: 1% 0 1%;
        margin: 0;
        width: auto;

    }
    nav li {
        width: auto;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0 5% 0 5%;
        text-align:center;
    }

    textarea {
        width: 90%
    }
}