<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Pesquisa de Satisfação</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'homepage.css') }}">
    <link href="{{ 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6e6ea9e421.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="caixa">
            <img class="logo_hotel" src="{{ url_for('static', filename= 'logo_hotel.png') }}">
            <nav>
                <ul>
                    <li><a href="https://www.hoteltertulios.com.br/">Home</a></li>
                    <li><a href="https://www.hoteltertulios.com.br/blog" >Blog</a></li>
                    <li><a href="https://www.hoteltertulios.com.br/#contact">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h1 class="titulo-principal">Sua opinião é muito importante para nós!</h1>
        <hr>
        <h2 class="titulo-pergunta">Indique o quanto ficou satisfeito com cada um de nossos serviços.</h2>
        <form>
            <ol class="lista">
                <li class="item-avaliado"><h3>Atendimento</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="atendimento" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="atendimento" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="atendimento" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="atendimento" value="nada_satisfeito">Nada satisfeito</label>

                <li class="item-avaliado"><h3>Limpeza</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="limpeza" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="limpeza" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="limpeza" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="limpeza" value="nada_satisfeito">Nada satisfeito</label>

                <li class="item-avaliado"><h3>Conforto</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="conforto" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="conforto" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="conforto" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="conforto" value="nada_satisfeito">Nada satisfeito</label>

                <li class="item-avaliado" ><h3>Café da manhã</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="cafe_da_manha" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="cafe_da_manha" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="cafe_da_manha" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="cafe_da_manha" value="nada_satisfeito">Nada satisfeito</label>

                <li class="item-avaliado"><h3>Internet</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="internet" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="internet" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="internet" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="internet" value="nada_satisfeito">Nada satisfeito</label>

                <li class="item-avaliado"><h3>Custo-Benefício</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="custo_beneficio" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="custo_beneficio" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="custo_beneficio" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="custo_beneficio" value="nada_satisfeito">Nada satisfeito</label>

                <li class="item-avaliado"><h3>Localização</h3></li>
                    <label class="item" for="radio-muito_satisfeito"><input type="radio" name="localizacao" value="muito_satisfeito">Muito satisfeito</label>
                    <label class="item" for="radio-satisfeito"><input type="radio" name="localizacao" value="satisfeito">Satisfeito</label>
                    <label class="item" for="radio-pouco_satisfeito"><input type="radio" name="localizacao" value="pouco_satisfeito">Pouco satisfeito</label>
                    <label class="item" for="radio-nada_satisfeito"><input type="radio" name="localizacao" value="nada_satisfeito">Nada satisfeito</label>

            </ol>
            <h4 class="item-avaliado">Sugestões ou comentários (opcional):</h4>
            <textarea rows="5" placeholder="Digite aqui sua mensagem!"></textarea>
            <input class="botao" type="submit" value="Enviar Pesquisa">
        </form>
    </main>
    <footer>
        <div class="sm">
            <a href="https://www.facebook.com/HotelTertulios"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/hoteltertuliosrc/"><i class="fa fa-instagram"></i></a>
            <a href="https://t.me/Hotel_Tertulios"><i class="fa fa-telegram"></i></a>
        </div>
        <p class="copyright">&copy; 2022 Hotel Tertulio's. Todos os direitos reservados.</p>
        <a class="whatsapp" href="https://api.whatsapp.com/send?phone=+55019996117400&amp;"><i style="margin-top: 12px" st class="fa fa-whatsapp"></i></a>
    </footer>
    </body>
</html>